* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.social-bar {
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8995973389355743) 29%, rgba(0,212,255,1) 100%);
}
.social-bar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.social-bar ul li {
    margin-right: 20px;
}
.social-bar ul li a {
    text-decoration: none;
    padding: 10px;
}
.social-bar ul li a span {
    font-size: 14px;
}
.social-bar ul li a i {
    font-size: 14px;
    padding-right: 5px;
}
/* End social bar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav {
    position: relative;
    z-index: 100;
}
.nav ul {
    background-color: skyblue;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}
.nav ul li {
    padding: 20px;
    
}
.nav ul li a {
    color: black;
    text-decoration: none;
}
.nav ul li:hover {
    background-color: gray;
}
/* End Nav */

.banner {
    max-height: 350px;
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}
.banner img {
    height: 100%;
    width: 100%;
}
.banner .content {
    text-align: center;
    position: absolute;
    left: 6%;
    top: 50%;
}
.banner .content h2 {
    font-size: 4rem;
    color: #fff;
}
.banner .content p {
    font-size: 14px;
    color: #fff;
}
.banner .content button {
    padding: 15px 25px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
}
.banner .content button:hover {
    background-color: #fff;
    cursor: pointer;
}
/* End Banner */

.container {
    width: 80%;
    margin: 0 auto;
}
.service-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-section .service-img {
    width: 50%;
}
.service-section .service-img img {
    height: 100%;
    width: 100%;
}
.service-section .service-content {
    width: 50%;
    padding: 50px;
}
.service-section .service-content h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}
.service-section .service-content p {
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.service-section .service-content ul {
    list-style-type: lower-roman;
    padding-left: 20px;
    line-height: 1.7rem;
}